@using WebUI.Models
@model ConventionViewModel

@{
    ViewBag.Title = "Edit a Convention";
}
@section scripts{
    <script type="text/javascript">
        $("#editConForm").validate({
            rules: {
                EndDate: { greaterThan: "#StartDate" }
            }
        });

        toastr.options.closeButton = true;
        $("#saveBtn").click(function() {
            $.ajax({
                type: "POST",
                url: "/Convention/Edit/" + @Model.ID,
                data: $("#editConForm").serialize(),
                success: function() {
                    toastr.success('The changes were saved!', 'Success');
                }
            });
        });
    </script>
}
<h2>@ViewBag.Title</h2>
@Html.HiddenFor(m => m.ID)

<div class="row">
    <div class="col-md-8">
        <section>
            <form id="editConForm" class="form-horizontal" role="form">
                <h4>Fill out the following fields to create a convention.</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
            </form>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="saveBtn" type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <div class="row padding">
            <div class="col-md-offset-2 col-md-10 text-right">
                <a href="@Url.Action(MVC.Convention.EventList())" class="btn btn-default mainBtn">Edit Events</a>
            </div>
        </div>
        <div class="row padding">
            <div class="col-md-offset-2 col-md-10 text-right">
                @if (Model.TotalMaps != 3)
                {
                    <a href="@Url.Action(MVC.Convention.Map())" class="btn btn-default mainBtn">Edit Map</a>
                }
                else
                {
                    <a href="@Url.Action(MVC.Convention.Rooms(1))" class="btn btn-default mainBtn">Edit Rooms</a>
                }
            </div>
        </div>
    </div>
</div>